@media(max-width: 1091px) {
    .forms-wrapper {
        justify-content: center;
    }
}

@media(max-width: 860px) {
    .footer__wrapper {
        flex-direction: column;
    }

    .footer__bottom-wrapper {
        display: block;
        text-align: center;
    }

    .footer__bottom-wrapper p {
        margin: 10px 0;
    }

    .footer__wrapper {
        height: 140px;
        padding: 10px 0;
    }
}

@media(max-width: 780px) {
    .icon {
        width: 190px;
    }

    .icon :nth-child(1) {
        width: 60px;
    }

    .icon :nth-child(2) {
        width: 120px;
    }

    .tel__button {
        margin-left: 10px;
    }

    .chair__section-wrapper {
        display: block;
        margin: auto;
        text-align: center;
    }

    .description {
        font-size: 20px;
    }
}

@media(max-width: 680px) {
    .header__bottom {
        padding: 0 10px;
    }

    .header__bottom-item {
        margin: 0 5px;
    }
}

@media(max-width: 560px) {
    .offers__items-wrapper {
        justify-content: center;
    }

    .present,
    .inviting {
        width: 450px;
        padding: 15px 25px;
    }

    .present img {
        width: 100px;
    }
}

@media(max-width: 530px) {
    .header__top a {
        margin: 0 5px;
        font-size: 10px;
    }

    .header__main-wrapper {
        display: block;
        text-align: center;
    }

    .tel__wrapper {
        justify-content: center;
    }

    .tel__number {
        font-size: 13px;
    }

    .tel__button {
        width: 120px;
        height: 30px;
        font-size: 10px;
    }

    .icon {
        margin: auto;
        padding-top: 5px;
    }

    .header__bottom-item {
        font-size: 12px;
    }

    .offers__wrapper {
        flex-direction: column;
        justify-content: space-between;
    }
}

@media(max-width: 470px) {
    .present {
        width: 350px;
        padding: 5px 15px;
    }

    .inviting {
        width: 350px;
        padding: 45px 15px;
    }

    .present input {
        width: 170px;
    }

    .present img {
        width: 70px;
    }

    .forms-wrapper h2 {
        font-size: 15px;
    }
}

@media(max-width: 430px) {
    .header__bottom {
        flex-wrap: wrap;
    }

    .chair__section h2 {
        font-size: 30px;
    }

    .description {
        font-size: 16px;
    }

    .chair__section-wrapper {
        width: 250px;
    }

    .offers__wrapper h2 {
        font-size: 20px;
    }
}

@media(max-width: 300px) {
    .header__top a {
        margin: 0 3px;
        font-size: 9px;
    }
}